{% load static %}
<div class="quote-post">
    <div class="quote-post__background"></div>
    <div class="quote-post__textBlock">
        <hr class="quote-post__sign-line">
        <h4 class="quote-post__text">
            Edit this text to make it your own. To edit, simply click directly
            on the text to start adding your own words. You can move the text by dragging and dropping
            the text</h4>
        <div class="quote-post__person-box">
            <div class="quote-post__person">
                <ul class="quote-post__person-name-list">
                    <li class="quote-post__person-name">
                        <h6 class="quote-post__person-name-text">Joheny Andro</h6>
                    </li>
                    <li class="quote-post__person-place">
                        <p class="quote-post__person-place-text">Bhubaneswar, Odisha</p>
                    </li>
                </ul>
                <img src="{% static 'img/JohenyPhoto.png' %}" alt="" srcset="">
            </div>
            <hr class="quote-post__person-line1">
            <hr class="quote-post__person-line2">
        </div>
    </div>
    <img class="quote-post__pic" src="{% static 'img/QuotePic.png' %}" alt="Coffee Mashine" title="Coffee Cup" srcset="">
</div>