{% load static %}
<div class="pageNavigation">
    <ul class="pageNavigation-list">
        <li class="pageNavigation-item">
            <a href="#AboutUsAnchor" class="menu__list-link">Know More About Us</a>
        </li>
        <li class="pageNavigation-item">
            <a href="#ServingAnchor" class="menu__list-link">What We Are Serving</a>
        </li>
        <li class="pageNavigation-item">
            <a href="#MenuAnchor" class="menu__list-link">Our Menu</a>
        </li>
    </ul>
</div>