{% load static %}
<div class="header-post">
    <div class="header-post__textBlock">
        <div class="header-post__slogan">
            <ul class="header-post__list">
                <li class="header-post-item">
                    <h1 class="header-post-item__title">
                        We serve high quality foods of all kinds.
                    </h1>
                </li>
                <li class="header-post-item">
                    <p class="header-post-item__text">
                        Edit this text to make it your own. To edit, simply click directly on the text
                        to start adding your own words. You can move the text.
                    </p>
                </li>
            </ul>
        </div>
        <div class="header-post__button">
            <button class="viewMenu" type="button" onclick="document.location='{% url 'main:menu' %}'">
                <div class="viewMenu__inner">
                    <p class="viewMenu__inner-text">View Menu</p>
                    <img class="viewMenu__arrow" src="{% static 'img/MenuArrow.svg' %}" alt="" srcset="">
                </div>
            </button>
        </div>
        <div class="header-post__info">
            <ul class="header-post__info-list">
                <li class="header-post__info-item">
                    <h6 class="header-post__info-item-title">Opening Times</h6>
                </li>
                <li class="header-post__info-item">
                    <p class="header-post__info-item-text">Sunday to Saturday l 09:00 AM to 11:00 PM</p>
                </li>
            </ul>
            <ul class="header-post__info-list">
                <li class="header-post__info-item">
                    <h6 class="header-post__info-item-title">Location</h6>
                </li>
                <li class="header-post__info-item">
                    <p class="header-post__info-item-text">Master canteen, BBSR , Odisha 752054</p>
                </li>
            </ul>
            <ul class="header-post__info-list">
                <li class="header-post__info-item">
                    <h6 class="header-post__info-item-title">Call us</h6>
                </li>
                <li class="header-post__info-item">
                    <p class="header-post__info-item-text">+9776462441</p>
                </li>
            </ul>
        </div>
    </div>
    <div class="header-post__picture">
        <img class="header-post__photo" src="{% static 'img/Header Image.png' %}" alt="Cup" title="Breakfast" srcset="">
    </div>
</div>