{% load static %}
<div class="Menu__header">
    <div class="ourMenu-post__tag">
        <h4 class="ourMenu-post__tag-text">OUR MENU</h4>
        <img src="{% static 'img/Line.svg' %}" alt="" srcset="">
    </div>
    <div class="ourMenu-post__slogan">
        <h1 class="ourMenu-post__slogan-title">Discover our menu chart</h1>
        <p class="ourMenu__slogan-text">Through True Rich Attended does no end it his mother since
            favourable real had half every him case in packages enquire we up ecstatic.. Through True
            Rich Attended does no end it his mother</p>
    </div>
</div>