{% load static %}
<div class="serving-post">
    <div class="serving-post__tag">
        <h4 class="serving-post__tag-text">WHAT WE ARE SERVING</h4><a name="ServingAnchor"></a>
        <img src="{% static 'img/Line.svg' %}" alt="" srcset="">
    </div>
    <div class="serving-post__slogan">
        <h1 class="serving-post__slogan-title">We all have to eat, so why not do it beautifully?</h1>
        <p class="serving-post__slogan-text">Through True Rich Attended does no end it his mother since
            favourable real had half every him case in packages enquire we up ecstatic.. Through True
            Rich Attended does no end it his mother</p>
    </div>
    <div class="serving-post__grid-container">
        <div class="serving-post__grid-item">
            <img class="serving-post__grid-item-icon" src="{% static 'img/QuafeIcon.svg' %}" alt="" srcset="" id="serving-post__icon1">
            <h4 class="serving-post__grid-item-title">Quafe Cake</h4>
            <p class="serving-post__grid-item-text">Through True Rich Attended no end it his mother
                since favourable real had half every him.</p>
        </div>
        <div class="serving-post__grid-item">
            <img class="serving-post__grid-item-icon" src="{% static 'img/CoffeeIcon.svg' %}" alt="" srcset="" id="serving-post__icon2">
            <h4 class="serving-post__grid-item-title">Coffee</h4>
            <p class="serving-post__grid-item-text">Through True Rich Attended no end it his mother
                since favourable real had half every him.</p>
        </div>
        <div class="serving-post__grid-item">
            <img class="serving-post__grid-item-icon" src="{% static 'img/FastFoodIcon.svg' %}" alt="" srcset="" id="serving-post__icon3">
            <h4 class="serving-post__grid-item-title">Fast Food</h4>
            <p class="serving-post__grid-item-text">Through True Rich Attended no end it his mother
                since favourable real had half every him.</p>
        </div>
        <div class="serving-post__grid-item">
            <img class="serving-post__grid-item-icon" src="{% static 'img/CocktailsIcon.svg' %}" alt="" srcset="" id="serving-post__icon4">
            <h4 class="serving-post__grid-item-title">Cocktails</h4>
            <p class="serving-post__grid-item-text">Through True Rich Attended no end it his mother
                since favourable real had half every him.</p>
        </div>
        <div class="serving-post__grid-item">
            <img class="serving-post__grid-item-icon" src="{% static 'img/GrillIcon.svg' %}" alt="" srcset="" id="serving-post__icon5">
            <h4 class="serving-post__grid-item-title">Grill</h4>
            <p class="serving-post__grid-item-text">Through True Rich Attended no end it his mother
                since favourable real had half every him.</p>
        </div>
        <div class="serving-post__grid-item">
            <img class="serving-post__grid-item-icon" src="{% static 'img/SnacksIcon.svg' %}" alt="" srcset="" id="serving-post__icon6">
            <h4 class="serving-post__grid-item-title">Snacks</h4>
            <p class="serving-post__grid-item-text">Through True Rich Attended no end it his mother
                since favourable real had half every him.</p>
        </div>
    </div>

</div>